<html>
<head>
  <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="App1" ng-init="firstName='JohnFuori'; name='John1'">
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
  <p ng-bind="firstName"></p>
  <h3>AngularJS expressions</h3>
  <p>My first expression: {{ 5 + 5 }}</p>
  <p>My first expression w/ variable: {{ 'Mr. ' + name }}</p>
  <p>Stampo variabile senza ng-bind {{name}}</p>
  <hr/>
  <div style="background-color:{{colore_sfondo}}" ng-controller="miocontroller">
    <h3>Questo div ha un controller custom</h3>
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br/>
    Full Name: {{firstName + " " + lastName}}
    <br/>
    Oggi e' il {{dataOggi}}
    <br/>
    digita per cambiare il colore di sfondo<input type="text" ng-model="colore_sfondo"><br>
  </div>
  <hr/>
  <div ng-init="points=[1,15,19,2,40];indice_points=0">
    <h3>Arrayss</h3>
    <form name="formone">
    <span style="color:red;" ng-show="formone.indice_points.$error.number">
      Errore non e ' un numero
    </span>
      indice_points: <input type="number" name="indice_points" ng-model="indice_points"><br>
    </form>
    <p>Il valore all'indice {{indice_points}} e' {{ points[indice_points] }}</p>
    <h4>COntenuto di points array</h4>
    <ul id="ciccio">
      <li ng-repeat="point in points">
        {{ point }}
      </li>
    </ul>
    Scrivi "mostrami" per far comparire il messaggio nascosto: <input type="text" ng-model="mostrami">
    <br/>
    <p ng-show="mostrami === 'mostrami'">
      Messaggio nascostisttimo!!
    </p>
  </div>
  <hr/>
  <div ng-controller="click_actions">
    <h3>Questo controller testa ng-click</h3>
    <input placeholder="testo alert" type="text" ng-model="alert_text">
    <button ng-click="button_click()">CLiccami</button>
  </div>
</div>
<script>
  var app1 = angular.module( 'App1', [] );
  app1.controller( 'miocontroller', function ( $scope ) {
    // inizializzazioni personalizzate
    var data_oggi    = new Date();
    $scope.firstName = "JohnDentro";
    $scope.lastName  = "Doe";
    $scope.dataOggi  = data_oggi;
    console.log( "e' stato eseguito il codice extra del controller" );
    colore_sfondo = "white";
  } );

  app1.controller( 'click_actions', function ( $scope ) {
    $scope.alert_text = "";
    $scope.button_click = function () {
      alert( $scope.alert_text );
    }
  } );
</script>
</body>
</html>