<html>
<head>
  <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="App1" ng-init="firstName='JohnFuori'; name='John1'">
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
  <p ng-bind="firstName"></p>
  <h3>AngularJS expressions</h3>
  <p>My first expression: {{ 5 + 5 }}</p>
  <p>My first expression w/ variable: {{  'Mr. ' + name }}</p>
  <p>Stampo variabile senza ng-bind {{name}}</p>
  <hr/>
  <div ng-controller="miocontroller">
    <h3>Questo div ha un controller custom</h3>
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
  </div>
</div>
<script>
  var app = angular.module('App1', []);
  app.controller('miocontroller', function($scope) {
    $scope.firstName= "JohnDentro";
    $scope.lastName= "Doe";
  });
</script>
</body>
</html>